/* $Id$ */

/**
 * @file
 * This provides the basic styling for the media browser elements
 */
 
 
/* Style the show media browser link */
.media.browser.activation{
  width: 100px;
  border: 1px solid #999999;
  padding: 5px 10px;
  background-color: #cc3355;
  color: #ffffff;
  cursor: pointer;
}
 
.media.browser {
  border: 1px solid #999999;
  padding: 5px;
}

/* add a border to the tabs */
.media.browser .tabs.primary {
  padding-bottom: 2px;
}

/* move the tabs to the right */
.media.browser ul.primary {
	margin: 0 0 0 118px;
	border: none;
}

/* style the drawers container */


/* style the left hand drawers */
.media.browser .ui-tabs-panel .item-list ul {
  margin: 0;
}

.media.browser .ui-tabs-panel .item-list ul li{
	background-color: #999999;
	background-image: none;
	border: 1px solid #999999;
	clear: left;
	float: left;
	height: 20px;
	list-style: none;
	margin: 5px 0px 3px;
	padding: 5px 10px 5px 10px;
	width: 90px;
}

.media.browser .ui-tabs-panel .item-list ul li a {
	color: #ffffff;
}

/* push the drawers down */
.media.browser .ui-tabs-panel .item-list ul li.first{
	margin-top: 10px;
}


/* style the active drawer */
.media.browser .ui-tabs-panel .item-list ul li.active{
	background-color: #ffffff;
	border-right: none;
	width: 91px;
}

.media.browser .ui-tabs-panel .item-list ul li.active a {
  color: #000000;
}


/* style the display of the drawer */
.media.browser.display {
  margin-left: 111px;
} 


/* -------------------------------------------- */
/* clear fix fix */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

