/* $Id */

/**
 * @file
 * This provides the basic styling for the media browser elements
 */
 
 
.media.browser {
  border: 1px solid #999999;
  padding: 5px;
}

/* add a border to the tabs */
.media.browser .tabs.primary {
  padding-bottom: 2px;
}

/* move the tabs to the right */
.media.browser ul.primary {
	margin-left: 160px;
}

/* style the right hand drawers */
.media.browser.drawer{
  border: 1px solid #000000;
	margin: 5px 10px 3px 0;
	padding: 5px 10px;
	width: 130px;
	height: 20px;
  text-align: left;
  clear: left;
  float: left;
  background-color: #999999;
  color: #ffffff;
}

/* style the active drawer */
.media.browser.drawer.active{
	background-color: #cccccc;
	color: #000000;
}

/* style the display of the drawer */
.media.browser.display {
  margin-left: 160px;
} 
